
:root {
    --fuente-primaria: 'Orbitron', sans-serif;
    --fuente-segundaria: monospace, sans-serif;
    --primario: #19122F;
    --blanco: #FFFFFF;
  }

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-color: none  ;
}

.navbar .navbar-nav .nav-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar .navbar-nav .nav-item {
    display: inline-block;

}

.navbar .navbar-nav .nav-item a,
.navbar .navbar-nav .nav-item button {
    font-family: var(--fuente-primaria);
    color: aliceblue;
}

.navbar .navbar-nav .nav-item a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navbar .navbar-nav .nav-item a:hover {
    background-color: fuchsia;
}

.dropdown-menu{
    background-color: black;
}

.navbar-toggler{
    color: white;
}

.logo{
    padding: 10px;
    width:150px;
}

#navbarSupportedContent{
    width: 200px;
}

.boton-header {
    position: relative;
    align-items: top;
    padding: 1em 1.8em;
    outline: none;
    border: 1px solid #303030;
    background: #212121;
    color: #ae00ff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    overflow: hidden;
    transition: 0.1s;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.boton-header:hover {
    box-shadow: 0 0 10px #ae00ff, 0 0 25px #001eff, 0 0 50px #ae00ff;
    transition-delay: 0.5s;
}

.boton-header span {
    position: absolute;
}

.container-icon{
    position: relative;
    margin-right: 50px;
}

.container-icon{
    position: relative;
    margin-right: 50px;
}

/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem,1fr));
    gap: 3rem;
    margin: 10px 15px 50px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow:0 0 2px #fff, 0 0 10px #fff, 0 0 20px #4CE9F3, 0 0 20px #4CE9F3,
    0 0 30px #4CE9F3, 0 0 40px #4CE9F3;
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    /*border-radius: 10px 10px 0 0;*/
    transition: all .5s;
}

.item figure{
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    color: var(#FFFFFF);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
}

.info-product button{
    border-radius: 10px;
    border-style: solid;
    background: none;
    background-color: #000;
    color: var(#FFFFFF);
    padding: 15px 10px;
    cursor: pointer;
}




