<body>
  <header>
      <h1>NUESTROS PRODUCTOS</h1>
      <span routerLink="/newtienda" *ngIf="isLogged">
        <button type="button" id="agregarProducto" class="btn btn-dark">
            Agregar Producto
        </button>
        <br><br>
    </span>
      
  </header>
  <div class="container-items">
      <div class="item" *ngFor="let Tienda of tienda">
          <figure routerLink="/producto/{{Tienda.id_producto}}">
              <img
                  src="{{Tienda.imagen}}"
                  alt="producto"
              />
          </figure>
          <div class="info-product">
              <h2>{{Tienda.nombre}}</h2>
              <p class="price">${{Tienda.precio}}</p>
              <button (click)="addcart(Tienda)">AÑADIR AL CARRITO</button>
                <div *ngIf="isLogged">
                    <button class="btn btn-light" routerLink="/edittienda/{{Tienda.id_producto}}">
                    <i class="bi bi-pencil-fill"></i></button>
                    <button class="btn btn-danger" (click)="delete(Tienda.id_producto)">
                        <i class="bi bi-trash-fill"></i></button>
                </div>                  
          </div>
      </div>
  </div>
</body>
